@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-blanco: #fafafa;
  --color-primario: #ff5845;
  --fuente-principal: "Montserrat", sans-serif;
}

body {
  margin: 0;

  background: linear-gradient(#390e5e, #111b62);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;

  font-family: var(--fuente-principal);
  font-optical-sizing: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.tarjeta-contenedora {
  background-color: var(--color-blanco);

  padding: 32px;
  border-radius: 16px;
}

.controles-creacion {
  background-color: #eeeff1;
  display: flex;
  border-radius: 32px;
}

.boton-crear {
  /* Asignamos variables */
  font-family: var(--fuente-principal);
  background-color: var(--color-primario);
  color: var(--color-blanco);

  /* Sacamos los estilos */
  appearance: none;
  border: none;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;

  padding: 16px 32px;
  border-radius: 32px;

  transition: background-color 0.2s linear;
}

.boton-crear:hover {
  background-color: color-mix(
    in srgb,
    var(--color-primario) 80%,
    var(--color-blanco) 20%
  );
}

.boton-crear:active {
  background-color: color-mix(in srgb, var(--color-primario) 80%, black 20%);
}

.input-tarea {
  font-family: var(--fuente-principal);

  appearance: none;
  border: none;

  background-color: transparent;

  padding: 0 16px;

  background-color: transparent;
  border-radius: 32px;
}

.lista-tareas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.elemento-tareas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  margin-top: 32px;
}

.elemento-tarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  margin-top: 32px;
}

.tarea-titulo {
  flex: 1;
  text-align: left;
}

.completado {
  text-decoration: line-through;
}

.boton-eliminar {
  appearance: none;
  border: none;
  background-color: transparent;

  font-size: 16px;
  font-weight: bold;

  color: var(--fuente-principal);
  font-family: var(--color-primario);
  background-color: red;

  cursor: pointer;
  border-radius: 32px;
  height: 32px;
  width: 32px;
}
